@{
    Layout = "_Layout";
    ViewData["Title"] = "Information";
}

<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <!-- Динамические метрики -->
            <div class="row">
                <!-- Managing: Количество станций -->
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-12">
                    <div class="box box-body pull-up fill-icon">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 fw-500"><i class="fa-solid fa-list-check fs-26 text-primary"></i> Managing</h4>
                        </div>
                        <div class="mt-15">
                            <div class="d-flex justify-content-center">
                                <h1 id="ownerTotalStations" class="mb-0">0</h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p>Stations</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Currently: Активные/неактивные сессии -->
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-12">
                    <div class="box box-body pull-up fill-icon">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 fw-500"><i class="fa-solid fa-charging-station fs-26 text-success"></i> Currently</h4>
                        </div>
                        <div class="mt-15">
                            <div class="d-flex justify-content-around">
                                <div>
                                    <h1 id="activeSessions" class="mb-0">0</h1>
                                    <p class="text-center">In Use</p>
                                </div>
                                <div>
                                    <h1 id="inactiveSessions" class="mb-0">0</h1>
                                    <p class="text-center">Not In Use</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Consumed: Суммарная энергия -->
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-12">
                    <div class="box box-body pull-up fill-icon">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 fw-500"><i class="fa-solid fa-bolt fs-26 text-warning"></i> Consumed</h4>
                        </div>
                        <div class="mt-15">
                            <div class="d-flex justify-content-center">
                                <h1 id="totalEnergy" class="mb-0">0</h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p>kWh</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Income: Суммарный доход -->
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-12">
                    <div class="box box-body pull-up fill-icon">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0 fw-500"><i class="fa-solid fa-dollar-sign fs-26 text-success"></i> Income</h4>
                        </div>
                        <div class="mt-15">
                            <div class="d-flex justify-content-center">
                                <h1 id="totalRevenue" class="mb-0">$0</h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p> $ Earned</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Контейнер для карточек станций -->
            <div class="row" id="stationsContainer">
                <!-- Динамически генерируемые карточки -->
            </div>

            <!-- Таблица счетов -->
            <div class="col-xl-12 col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">All Invoices</h4>
                    </div>
                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th class="text-fade">Number</th>
                                    <th class="text-fade">Issued On</th>
                                    <th class="text-fade">User Name</th>
                                    <th class="text-fade">EV Charger Location</th>
                                    <th class="text-fade">EV Charger Info</th>
                                    <th class="text-fade">Energy</th>
                                    <th class="text-fade">Total</th>
                                    <th class="text-fade">Status</th>
                                </tr>
                                <tbody id="sessionsTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/information.js"></script> 
}