@{
	Layout = "_Layout"; // Указывает на общий Layout
	ViewData["Title"] = "Register Owner";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title"></h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
							</ol>
						</nav>
					</div>
				</div>

			</div>
		</div>
		<form id="registerForm">
			<!-- Контейнер для общих ошибок -->
			<div id="errorContainer" class="alert alert-danger d-none"></div>

			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<h4 class="box-title">Register Account</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-4 col-12">
									<div class="form-group">
										<label class="form-label">Email</label>
										<input name="Email" type="email" id="email"
											   class="form-control" placeholder="Email" required>
										<span id="emailError" class="text-danger small"></span>
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<div class="form-group">
										<label class="form-label">Password</label>
										<input name="Password" type="password" id="password"
											   class="form-control" placeholder="Password" required>
										<span id="passwordError" class="text-danger small"></span>
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<div class="form-group">
										<label class="form-label">Confirm Password</label>
										<input name="ConfirmPassword" type="password" id="confirmPassword"
											   class="form-control" placeholder="Confirm Password" required>
										<span id="confirmPasswordError" class="text-danger small"></span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="form-label">Full Name</label>
								<input name="FullName" type="text" id="fullName"
									   class="form-control" placeholder="Full Name" required>
								<span id="fullNameError" class="text-danger small"></span>
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-primary"
										id="submitBtn">
									REGISTER
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</form>

@section Scripts {
	<script src = "~/js/registerOwner.js" defer></script>
}
