<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 99%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header fs-10 m-0 text-uppercase">Dashboard</li>
                    <li>
                        <a href="/Pages/Profile">
                            <i data-feather="home"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Manager/Management">
                            <i data-feather="list"></i>
                            <span>Management</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Manager/Station">
                            <i data-feather="battery-charging"></i>
                            <span>Station</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Account/Register">
                            <i data-feather="book"></i>
                            <span>Register Owner</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Session/SessionForm">
                            <i data-feather="book"></i>
                            <span>Add Session</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</aside>