<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 99%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header fs-10 m-0 text-uppercase">Dashboard</li>
                    <li>
                        <a href="/Pages/Profile">
                            <i data-feather="home"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Owner/Information">
                            <i data-feather="info"></i>
                            <span>Information</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Station/StationForm">
                            <i data-feather="book"></i>
                            <span>Add Station</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</aside>