@{
	Layout = "_Layout"; // Указывает на общий Layout
	ViewData["Title"] = "Managment";
}
	<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container-full">
				<!-- Main content -->
				<section class="content">
					<div class="row">
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up">
							  <div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-0 fw-500">New Charging Stations</h4>
							  </div>
								<div>
									<h1 id="totalStations">0</h1> <!-- Добавлен ID -->
								</div>
							</div>
						</div>
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up activecharging">
							  <div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-0 fw-500">Active Charging Stations</h4>
							  </div>
							  <div>
							<h1 id="activeStations">0</h1>
							  </div>
							</div>
						</div>
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up">
							  <div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-0 fw-500">Charging Sessions</h4>
							  </div>
							  <div>
							<h1 id="totalSessions">0</h1>
							  </div>
							</div>
						</div>
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up">
							  <div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-0 fw-500">Total Energy</h4>
							  </div>
							  <div>
							<h1 id="totalEnergy">0</h1>
							  </div>
							</div>
						</div>
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up">
							  <div class="d-flex justify-content-between align-items-center">
								<h4 class="mb-0 fw-500">Total Revenue</h4>
							  </div>
							  <div>
							<h1 id="totalRevenue">0</h1>
							  </div>
							</div>
						</div>
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-12">
							<div class="box box-body pull-up newusers">
								<h4 class="mb-0 fw-500">New Users</h4>
							  <div>
							<h1 id="newUsers">0</h1>
							  </div>
							</div>
						</div>
					</div>	
			<div class="col-xl-12 col-12">
				<div class="box">
					<div class="box-header with-border">
						<h4 class="box-title">All Invoices</h4>
					</div>
					<div class="box-body no-padding">
						<div class="table-responsive">
							<table class="table table-hover">
								<tr>
									<th class="text-fade">Number</th>
									<th class="text-fade">Issued On</th>
									<th class="text-fade">User Name</th>
									<th class="text-fade">EV Charger Location</th>
									<th class="text-fade">EV Charger Info</th>
									<th class="text-fade">Energy</th>
									<th class="text-fade">Total</th>
									<th class="text-fade">Status</th>
								</tr>
								<tbody id="sessionsTableBody">

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
				</section>
				<!-- /.content -->
			</div>
		</div>

	<!-- /.content-wrapper -->
@section Scripts {
	<script src="~/js/management.js" defer></script>
}